* {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eaeaea;
  color: #fff;
}
#wheel {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 3px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
#wheel::before {
  content: "";
  position: absolute;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 242px;
  height: 242px;
  border-radius: 50%;
  z-index: 2;
}
#spinner {
  width: 100%;
  height: 100%;
  transition: all 6s cubic-bezier(0, 0.99, 0.44, 0.99);
}
.slice {
  display: inline-block;
  position: absolute;
  transform-origin: 100% 100%;
  top: -49.9%;
  right: 50%;
  width: 100%;
  height: 100%;
  clip-path: polygon(59% 0, 100% 100%, 0 59%);
  background-color: #19c;
  transform: rotate(45deg);
}
.slice span {
  position: absolute;
  display: block;
  bottom: 50px;
  right: 50px;
  transform: rotate(-45deg);
  color: #34495e;
  font-size: 18px;
  background-color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  border: 3px solid #666;
}
.slice:nth-child(1) {
  transform: rotate(90deg);
  background-color: #16a085;
}
.slice:nth-child(2) {
  transform: rotate(135deg);
  background-color: #2980b9;
}
.slice:nth-child(3) {
  transform: rotate(180deg);
  background-color: #34495e;
}
.slice:nth-child(4) {
  transform: rotate(225deg);
  background-color: #f39c12;
}
.slice:nth-child(5) {
  transform: rotate(270deg);
  background-color: #d35400;
}
.slice:nth-child(6) {
  transform: rotate(315deg);
  background-color: #34495e;
}
.slice:nth-child(7) {
  transform: rotate(360deg);
  background-color: rgb(14, 156, 14);
}
#spin-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  color: #ccc;
  text-align: center;
  line-height: 60px;
  z-index: 3;
  cursor: pointer;
  user-select: none;
}
#spin-btn::before {
  content: '';
  position: absolute;
  width: 45px;
  height: 25px;
  background-color: #fff;
  top: -15%;
  left: 50%;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  transform: translateX(-50%);
}
#spin-btn:active {font-size: 15px;}