<!DOCTYPE html>
<html>

<head>
    <title>please open in wechat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0;  maximum-scale=1.0 user-scalable=no;">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="collapsable" content="none">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="favicon.ico" />
</head>

<body>
    <div class="deny-message">
        <p>为了防止使用多个浏览器获取到多个号码，请您使用微信打开!</p>
    </div>
</body>

</html>
